.cate-nav {
  position: relative;
  float: left;
  height: 100%;
  width: 90px;
}
.cate-nav ul li a {
  display: block;
  width: 90px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
}
.cate-nav ul .current a {
  border-right: none;
  color: red;
}
.cate-content {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.cate-content ul li {
  margin-top: 10px;
  float: left;
  width: 33.33%;
  text-align: center;
}
.cate-content ul li img {
  width: 70%;
}
