r-radius: 50%;
            margin: 20px 0;
        }
        p {
            color:#fff;
            font-size: 18px;
        }
    }
    > ul {
        margin-top: 40px;
        li {
            a {
                display: block;
                color: #fff;
                padding-left: 45px;
                line-height: 40px;
                font-size: 16px;
            }
            .second {
                display: none;
                a {
                    padding-left: 60px;
                }
            }
        }
        .current {          
            a {
                background-color: #1D1F21;
                border-left: 3px solid #069;
            }           
        }
    }
}

/*主体*/ 
.lt-main {
    padding-left: 180px;
    height: 1000px;
    transition: padding .5s;
    // �